:root {
	--color-white: #fff;
	--color-black: #000;
	--color-yellow: #ffff00;
	--color-dark-gray: #10100e;

	--color-blue: #6a83fb;
	--color-violet: #ae72c2;
	--color-red: #f75d83;

	/* --theme-prehistori-header: 
	--theme-standart-header: 
	--theme-future-header:  */

	/* THEMES */
	--theme-light-header: #422b1a;
	--theme-dark-header: #3b5a99;
	--theme-neitral-header: #0d121c;
	--theme-default-header: var(--theme-dark-header);

	/* THEMES Body */
	--theme-light-body: #b09870;
	--theme-dark-body: #eaebef;
	--theme-neitral-body: #080d23;
	--theme-default-body: var(--theme-dark-body);

	/* THEMES slider */
	--theme-light-slider: #2c2c2c;
	--theme-dark-slider: #2c2c2c;
	--theme-neitral-slider: #1a0c3a;
	--theme-default-slider: var(--theme-dark-slider);

	/* THEMES sliderCont */
	--theme-light-sliderCont: #fffadc;
	--theme-dark-sliderCont: #f6f7fb;
	--theme-neitral-sliderCont: #747da2;
	--theme-default-sliderCont: var(--theme-dark-sliderCont);

	/* THEMES sliderThumb */
	--theme-light-sliderThumb: #eefa71;
	--theme-dark-sliderThumb: #2196f3;
	--theme-neitral-sliderThumb: #7a4fe8;
	--theme-default-sliderThumb: var(--theme-dark-sliderThumb);
	/* THEMES sliderRadius */
	--theme-light-sliderRadius: #70b000;
	--theme-dark-sliderRadius: #b7b6bb;
	--theme-neitral-sliderRadius: #41376b;
	--theme-default-sliderRadius: var(--theme-dark-sliderRadius);

	/* THEMES sliderRial */
	--theme-light-sliderRial: #70b000;
	--theme-dark-sliderRial: #adacb1;
	--theme-neitral-sliderRial: #ffffff;
	--theme-default-sliderRial: var(--theme-dark-sliderRial);

	/* THEMES menuBacg */
	--theme-light-menuBacg: #422b1a;
	--theme-dark-menuBacg: #fffffe;
	--theme-neitral-menuBacg: #272731;
	--theme-default-menuBacg: var(--theme-dark-menuBacg);

	/* THEMES linkA */
	--theme-light-linkA: #b7b6bb;
	--theme-dark-linkA: #b7b6bb;
	--theme-neitral-linkA: #ffffff;
	--theme-default-linkA: var(--theme-dark-linkA);

	/* THEMES linkAHover */
	--theme-light-linkAHover: #bf8551;
	--theme-dark-linkAHover: #3b5a99;
	--theme-neitral-linkAHover: #7a4fe8;
	--theme-default-linkAHover: var(--theme-dark-linkAHover);

	/* THEMES linkAHoverText */
	--theme-light-linkAHoverText: #bf8551;
	--theme-dark-linkAHoverText: #2c2c2c;
	--theme-neitral-linkAHoverText: #7a4fe8;
	--theme-default-linkAHoverText: var(--theme-dark-linkAHoverText);

	/* THEMES arrow */
	--theme-light-arrow: #fff2d1;
	--theme-dark-arrow: #9c9da1;
	--theme-neitral-arrow: #ffffff;
	--theme-default-arrow: var(--theme-dark-arrow);

	/* THEMES arrowBack */
	--theme-light-arrowBack: #422b1a;
	--theme-dark-arrowBack: #f6f7f9;
	--theme-neitral-arrowBack: #3c4250;
	--theme-default-arrowBack: var(--theme-dark-arrowBack);

	/* THEMES dropdownBack */
	--theme-light-dropdownBack: #fffadc;
	--theme-dark-dropdownBack: #ffffff;
	--theme-neitral-dropdownBack: #272731;
	--theme-default-dropdownBack: var(--theme-dark-dropdownBack);

	/* THEMES infoText */
	--theme-light-infoText: #2c2c2c;
	--theme-dark-infoText: #2c2c2c;
	--theme-neitral-infoText: #ffffff;
	--theme-default-infoText: var(--theme-dark-infoText);

	/* THEMES infoTextRevers */
	--theme-light-infoTextRevers: rgba(66, 43, 26, 0.11);
	--theme-dark-infoTextRevers: #f6f7f9;
	--theme-neitral-infoTextRevers: rgba(60, 66, 80, 0.44);
	--theme-default-infoTextRevers: var(--theme-dark-infoTextRevers);

	/* THEMES routerText */
	--theme-light-routerText: #2c2c2c;
	--theme-dark-routerText: #2c2c2c;
	--theme-neitral-routerText: #ffffff;
	--theme-default-routerText: var(--theme-dark-routerText);

	/* THEMES footer */
	--theme-light-footer: #fffadc;
	--theme-dark-footer: #fffffe;
	--theme-neitral-footer: #30333f;
	--theme-default-footer: var(--theme-dark-footer);

	/* THEMES post */
	--theme-light-post: #fffadc;
	--theme-dark-post: #ffffff;
	--theme-neitral-post: #272731;
	--theme-default-post: var(--theme-dark-post);

	/* THEMES inputBack */
	--theme-light-inputBack: #ccba89;
	--theme-dark-inputBack: #eaebef;
	--theme-neitral-inputBack: #080d23;
	--theme-default-inputBack: var(--theme-dark-inputBack);

	/* THEMES inputPlaceholder */
	--theme-light-inputPlaceholder: rgba(255, 250, 220, 0.55);
	--theme-dark-inputPlaceholder: rgba(44, 44, 44, 0.55);
	--theme-neitral-inputPlaceholder: rgba(116, 125, 161, 0.55);
	--theme-default-inputPlaceholder: var(--theme-dark-inputPlaceholder);

	/* THEMES publicAroww */
	--theme-light-publicAroww: #b09870;
	--theme-dark-publicAroww: #eaebef;
	--theme-neitral-publicAroww: #080d23;
	--theme-default-publicAroww: var(--theme-dark-publicAroww);

	/* THEMES timeTitle */
	--theme-light-timeTitle: #bf8551;
	--theme-dark-timeTitle: #3b5a99;
	--theme-neitral-timeTitle: #7a4fe8;
	--theme-default-timeTitle: var(--theme-dark-timeTitle);

	/* THEMES timeText */
	--theme-light-timeText: #ccba89;
	--theme-dark-timeText: rgba(156, 157, 161, 0.43);
	--theme-neitral-timeText: rgba(185, 185, 185, 0.43);
	--theme-default-timeText: var(--theme-dark-timeText);

	/* THEMES postContentText */
	--theme-light-postContentText: #fffadc;
	--theme-dark-postContentText: #2c2c2c;
	--theme-neitral-postContentText: #ffffff;
	--theme-default-postContentText: var(--theme-dark-postContentText);

	/* THEMES activTextMob */
	--theme-light-activTextMob: #fffadc;
	--theme-dark-activTextMob: #2c2c2c;
	--theme-neitral-activTextMob: #ffffff;
	--theme-default-activTextMob: var(--theme-dark-activTextMob);

	/* THEMES titleAbout */
	--theme-light-titleAbout: #fffadc;
	--theme-dark-titleAbout: #444445;
	--theme-neitral-titleAbout: #7a4fe8;
	--theme-default-titleAbout: var(--theme-dark-titleAbout);

	/* THEMES cardName */
	--theme-light-cardName: #422b1a;
	--theme-dark-cardName: #3b5a99;
	--theme-neitral-cardName: #ffffff;
	--theme-default-cardName: var(--theme-dark-cardName);

	/* THEMES cardLord */
	--theme-light-cardLord: #d6c699;
	--theme-dark-cardLord: #c8c9cd;
	--theme-neitral-cardLord: #747da1;
	--theme-default-cardLord: var(--theme-dark-cardLord);

	/* THEMES textCardInfo */
	--theme-light-textCardInfo: #2c2c2c;
	--theme-dark-textCardInfo: #2c2c2c;
	--theme-neitral-textCardInfo: #ffffff;
	--theme-default-textCardInfo: var(--theme-dark-textCardInfo);

	/* THEMES placeholderLog */
	--theme-light-placeholderLog: #ccba89;
	--theme-dark-placeholderLog: #b7b6bb;
	--theme-neitral-placeholderLog: #66666b;
	--theme-default-placeholderLog: var(--theme-dark-placeholderLog);

	/* THEMES logText */
	--theme-light-logText: #422b1a;
	--theme-dark-logText: #3b5a99;
	--theme-neitral-logText: #7a4fe8;
	--theme-default-logText: var(--theme-dark-logText);

	/* THEMES logIputBacg */
	--theme-light-logIputBacg: #fffadc;
	--theme-dark-logIputBacg: #ffffff;
	--theme-neitral-logIputBacg: #30333f;
	--theme-default-logIputBacg: var(--theme-dark-logIputBacg);

	/* THEMES btnMint */
	--theme-light-btnMint: #422b1a;
	--theme-dark-btnMint: #ffffff;
	--theme-neitral-btnMint: #0d121c;
	--theme-default-btnMint: var(--theme-dark-btnMint);

	/* THEMES rodmapText */
	--theme-light-rodmapText: #2c2c2c;
	--theme-dark-rodmapText: #2c2c2c;
	--theme-neitral-rodmapText: #ffffff;
	--theme-default-rodmapText: var(--theme-dark-rodmapText);

	--theme-light-bgimage: linear-gradient(
		to right bottom,
		#051937,
		#162454,
		#312d70,
		#533389,
		#7a359f
	);
	--theme-dark-bgimage: linear-gradient(
		to right bottom,
		#000000,
		#160b11,
		#20141e,
		#281b2e,
		#2b2440
	);
	--theme-default-bgimage: var(--theme-neitral-bgimage);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto;
	background: var(--theme-default-body);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.header__back {
	color: var(--theme-default-header);
}
i {
	border: solid #fafafa;
	border-width: 0px 3px 3px 0;
	display: inline-block;
	padding: 0px;
	width: 10px;
	height: 21px;
	margin-bottom: 7px;
}
.active_dropdown {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: var(--theme-default-dropdownBack);
	border-radius: 3px;
	margin-top: 1px;
	padding: 20px 32px;
	padding-bottom: 34px;
}
.active_dropdown_public {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--theme-default-dropdownBack);
	border-radius: 3px;
	padding: 0px 20px;
	padding-bottom: 20px;
}
.dropdown {
	display: none;
}
@media (max-width: 665px) {
	.active_dropdown {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: var(--theme-default-dropdownBack);
		border-radius: 3px;
		margin-top: 1px;
		padding: 20px 15px;
		padding-bottom: 84px;
	}
	i {
		border: solid #fafafa;
		border-width: 0px 3px 3px 0;
		display: inline-block;
		padding: 0px;
		width: 7px;
		height: 10px;
		margin-bottom: 1px;
	}
}
