.container_mint {
	max-width: 587px;
	margin: 0 auto;
}
.container_mint_title {
	padding-top: 140px;
	padding-bottom: 40px;
}
.container_mint_input {
	margin-bottom: 30px;
}
.container_mint_text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 28px;
	color: var(--theme-default-logText);
	margin-top: 35px;
	max-width: 500px;
	padding:0px 30px
}
.container_mint_BTN {
	max-width: 198px;
	height: 50px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 150px;
}
.content_mint_input {
	padding: 0px 30px;
}
@media (max-width: 587px) {
	.container_mint {
		padding: 0px 44px;
	}
}
@media (max-width: 470px) {
	.container_mint_input {
		margin-bottom: 19px;
	}
	.container_mint_title {
		padding-top: 79px;
		padding-bottom: 75px;
	}
	.container_mint_text {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		margin-top: 29px;
		padding: 0px 0px;
	}
	.content_mint_input {
		padding: 0px 0px;
	}
	.container_mint_BTN {
		margin-top: 53px;
	}

}
