.container_content {
	position: relative;
	z-index: 111;
	background-position: 0px -17px;
	max-width: 1260px;
	margin: 0 auto;
	height: 620px;
	height: 47.2vmax;
	display: flex;
	align-items: flex-end;

	background-size: 100% 100%;
}

.container_content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 37.72%,
		rgba(9, 9, 8, 0.1) 49.18%,
		rgba(10, 10, 9, 0.2946) 61.09%,
		rgba(0, 0, 0, 0.6) 91.01%
	);
	opacity: 0.5;
	z-index: 1;
}
.container_menu {
	position: relative;
	bottom: 0px;
	background: var(--theme-default-arrowBack);
	width: 100%;
	height: 55px;
	display: flex;
	z-index: 10;
	flex-direction: column;
	justify-content: flex-end;
}
.content_onlain {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 30px;
	position: absolute;
	bottom: 0;
}
.baner_text_onlain {
	margin-left: 40px;
}
.content_slider_dekst {
	z-index: 10;
}
.container_avatar {
	position: relative;
	padding-bottom: 0px;
	z-index: 10;
}
@media (max-width: 1025px) {
	.content_onlain {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 30px;
		margin-bottom: 58px;
	}
}
@media (max-width: 989px) {
	.content_onlain {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 0px;
		margin-bottom: 58px;
		width: 100%;
		background: var(--theme-default-arrowBack);
		height: 140px;
		padding-left: 20px;
	}
	.content_slider_dekst {
		position: absolute;
		bottom: -350px;
		width: 100%;
		padding: 0 20px;
	}
	.container_menu {
		position: absolute;
		bottom: -181px;
		background: var(--theme-default-arrowBack);
		width: 100%;
		height: auto;
	}
	.container_avatar {
		position: relative;
		z-index: 10;
		bottom: 95px;
	}
}
@media (max-width: 665px) {
	.content_onlain {
		margin-left: 0px;
		margin-bottom: 59px;
		width: 100%;
		background: var(--theme-default-arrowBack);
		height: 140px;
		padding-left: 20px;
	}
	.container_avatar {
		position: relative;
		z-index: 10;
		bottom: 25px;
	}
}
@media (min-width: 650px) {
	.container_images {
		display: none;
	}
}
@media (max-width: 650px) {
	.container_images {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		padding-top: 20px;
	}
	.container_text {
		padding-right: 10px;
		padding-left: 10px;
	}
}
.container_text {
	display: flex;
	flex-direction: column;
}
@media (max-width: 370px) {
	.container_text {
		padding-right: 10px;
		padding-left: 10px;
	}
}
