.container_down {
	position: relative;
}
.content_down {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--theme-default-arrowBack);
	width: 100%;
	padding: 21px 32px;
	margin-top: 15px;
}
.content_down_btn {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 25px;
	text-transform: uppercase;
	color: var(--theme-default-arrow);
	cursor: pointer;
}
.i_aroow {
	border: solid var(--theme-default-arrow);
	border-width: 0px 3px 3px 0;
	display: inline-block;
	padding: 0px;
	width: 13px;
	height: 13px;
	transform: rotate(44deg);
	cursor: pointer;
	transition: 0.5s;
}
.i_arrow_down {
	border: solid var(--theme-default-arrow);
	border-width: 0px 3px 3px 0;
	display: inline-block;
	padding: 0px;
	width: 13px;
	height: 13px;
	transform: rotate(315deg);
	cursor: pointer;
	transition: 0.5s;
}
@media (max-width: 540px) {
	.content_down {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: var(--theme-default-arrowBack);
		width: 100%;
		padding: 21px 32px;
		margin-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.content_down_btn {
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		text-transform: uppercase;
		color: var(--theme-default-arrow);
		cursor: pointer;
		width: 100%;
	}
	.i_aroow {
		width: 10px;
		height: 10px;
	}
	.i_arrow_down {
		width: 11px;
		height: 11px;
	}
}
