.container_header {
	width: 100%;
	background: var(--theme-default-header);
}
.content_header {
	margin: 0 auto;
	max-width: 1255px;
	padding: 16px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}
.icon_content {
	width: 492px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 32px;
}
.icon_img {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}
.button_color {
	width: 160px;
}
@media (max-width: 650px) {
	.icon_img {
		display: none;
	}
	.icon_content {
		width: 30%;
	}
}
