.placeholder_input {
	border: none;
	background: var(--theme-default-inputBack);
	border-radius: 5px;
	width: 423px;
	width: 100%;
	padding-left: 15px;
	margin-left: 20px;
	height: 54px;
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	color: var(--theme-default-inputPlaceholder);
}
.placeholder_input::placeholder {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	color: var(--theme-default-inputPlaceholder);
}
.placeholder_input:focus-visible {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	color: var(--theme-default-inputPlaceholder);
}
@media (max-width: 500px) {
	.placeholder_input {
		height: 25px;
		margin-left: 12px;
	}
	.placeholder_input::placeholder {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 12px;
		color: var(--theme-default-inputPlaceholder);
	}
}
