.container_bacg {
	width: 100%;
	height: auto;
	background: #c4c4c4;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 65px 0px;
	position: relative;
}
.container_btn {
	width: 90px;
	height: 90px;
	background: #e1e1e1;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.rigth {
	border: solid #c8c8c8;
	border-width: 0 9px 9px 0;
	display: inline-block;
	width: 30px;
	height: 31px;
	transform: rotate(-45deg);
}
